{% extends "base.html" %}
{% load bulma_tags static utility_tags %}
{% block title %}Log In{% endblock %}
{% block header %}
<section class="hero has-background-grey-dark is-fullheight has-text-link-light">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="{% static 'imgs/logo.png' %}" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <span class="navbar-item">
                                <a class="button is-primary" href="{% url 'register' %}">Sign Up</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-link-light">Login</h3>
                <hr>
                <p class="subtitle has-text-weight-light has-text-white">Please login to access podChambers.dev.</p>
                <div class="box has-background-grey-light  has-text-white">
                    <figure class="avatar">
                        <i class="fa-solid fa-user-lock" style="color: #ccfcff;"></i>
                    </figure>
                    <form action="{% url 'login' %}" method="post">
                        
                        {% for field in form %}
                        
                        {% endfor %}
                        {{ form|bulma }}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}" />
                        <input type="submit" class="button is-block is-info is-large is-fullwidth" value="Login">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </input>
                    </form>
                </div>
                <div class="buttons is-centered">
                    <a href="{% url 'register' %}" class="button is-primary is-inverted">
                        Sign Up
                    </a>
                    <a href="{% url 'password_reset' %}" class="button is-danger-light is-inverted">
                        Forgot password
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
