{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block hero_title %}
<h1 class="title has-text-centered has-text-link-light">Reset your password</h1>
<h2 class="subtitle has-text-centered has-text-white has-text-weight-light">Password reset request for account associated with the email you provided
</h2>
{% endblock %}
{% block content %}
<div class="block content">
    <article class="message is-warning">
        <div class="message-body">
            <p class="has-text-dark has-text-left">
                If you haven't received instructions to the inbox for that email, you should double check that the
                email you provided is the same one you registered your account with.
            </p>
        </div>
    <article>
</div>
<div class="column is-4 is-offset-4 has-text-centered">
    <div class="buttons">
        <a class="button is-info is-outlined is-block is-fullwidth is-medium" href="{% url 'login' %}">Return to Login</a>
        <div class="buttons is-centered has-addons">
            <a class="button is-dark" href="https://github.com/deadFormats/">
                <span class="icon">
                    <i class="fab fa-github" style="color: #ccfcff;"></i>
                </span>
                <span>My Github</span>
            </a>
            <a class="button has-background-grey-dark" href="#">
                <span class="icon">
                    <i class="fa-solid fa-hands-holding-dollar" style="color: #ccfcff;"></i>
                </span>
                <span>Support the Project</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
