{% extends "base.html" %}
{% load bulma_tags utility_tags %}
{% block title %}Reset your password [In Dev]{% endblock %}
{% block hero_title %}
<h1 class="title has-text-centered has-text-light">Reset your password</h1>
<h2 class="subtitle has-text-centered has-text-white has-text-weight-light">
    Password recovery via email
</h2>
{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4 has-text-centered">
    <div class="box has-background-grey-darker has-text-white">
        <figure class="avatar">
            <i class="fa-solid fa-square-question" style="color: #ccfcff;"></i>
        </figure>
        <form method="post">
            {{ form|bulma }}
            <input type="submit" class="button is-block is-info is-large is-fullwidth" value="Request password reset">
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
