{% extends "base.html" %}
{% load bulma_tags static utility_tags %}
{% block title %}Password changed{% endblock %}
{% block hero_title %}
<h1 class="title has-text-centered has-text-white">Password changed</h1>
<h2 class="subtitle has-text-centered has-text-white has-text-weight-light">
    Your password has been successfully changed
</h2>
{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4 has-text-centered">
    <div class="buttons">
        <a class="button is-success is-outlined is-block is-fullwidth is-medium" href="{% url 'dashboard' %}">
            
            Return to Dashboard
        </a>
        <div class="buttons is-centered has-addons">
            <a class="button is-dark" href="https://github.com/deadFormats/">
                <span class="icon">
                    <i class="fab fa-github" style="color: #ccfcff;"></i>
                </span>
                <span>My Github</span>
            </a>
            <a class="button has-background-grey-dark" href="#">
                <span class="icon">
                    <i class="fa-solid fa-hands-holding-dollar" style="color: #ccfcff;"></i>
                </span>
                <span>Suppoer the Project</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
