{% extends "base.html" %}
{% load bulma_tags static utility_tags %}
{% block title %}Reset your password{% endblock %}
{% block hero_title %}
<h1 class="title has-text-centered has-text-link-light">Reset your password</h1>
{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4 has-text-centered">
    {% if validlink %}
    <div class="box has-background-grey-darker has-text-light">
        <p class="has-text-light has-text-weight-semibold">Please enter and confirm your new password:</p>
        <form method="post">
            {{ form|bulma }}
            {% csrf_token %}
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
    <div class="block has-background-grey-darker has-text-light">
        <article class="message is-danger">
            <div class="message-header">
                <p>Invalid Link</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                The password reset link provided is not valid. It's possible that it has
                already been used. Please request a new reset link and try again.
            </div>
        </article>
    </div>
    <div class="buttons is-centered">
        <a href="{% url 'password_reset' %}" class="button is-dark is-medium is-block is-fullwidth has-text-light">
            Request password reset
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
